<!-- This page is specifically used for creating the add and fetch student data form -->
<div id="container_demo" ng-controller="searchController">
<div id="container_demo" >
    <div id="wrapper">
        <div id="add" class="animate form">
                <form class="form-search" id="searchByTitleForm" autocomplete="on" onsubmit="return false;">
                        <fieldset>
                            <legend>Find a movie</legend>
                        </fieldset>
                        <div>
                            <label class="control-label" for="t">Title:</label>
                            <input type="text" id="t" name="t" class="input-small" style="width: 150px;" ng-model="t">
                            &nbsp;&nbsp;
                            <label class="control-label" for="y">Year:</label>
                            <input type="text" id="y" name="y" class="input-small" style="width: 100px;" ng-model="y">
                            &nbsp;&nbsp;
                            <button id="search-by-title-button" type="button" class="btn-sm btn-primary" ng-click="search()">Search</button>
                            <button id="search-by-title-reset" type="reset" class="btn-sm">Reset</button>
                        </div>
                        <div ng-show="show" id="search-by-title-request">
                            <span ng-show="status==200" ng-repeat="movieResults in movie">
                                <table id="results">
                                    <tr>
                                        <td>
                                            <h3>Title:</h3>
                                        </td>
                                        <td>
                                            <h3> {{title}}</h3>
                                        </td>
                                        <tr>
                                            <td><strong>Poster: </strong></td>
                                            <td><img src="{{poster}}" alt="No Poster available"> </td>
                                    </tr>
                                    <tr>
                                        <td> <strong>Year: </strong></td>
                                        <td>{{year}}</td>
                                    </tr>
                                    <tr>    
                                        <td><strong>IMDB ID: </strong></td>
                                        <td>{{imdbid}} </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Type: </strong></td>
                                        <td>{{type}}</td>
                                     </tr>
                                </table>
                            </span>
                            <span ng-show="status!=200&&status!=400&&status!=401"><b>Status:</b>{{status}}<br/><b>It seems we don't have what you are looking for. Please try to search for something else.</b></span>                        
                    </div>
                </form>
		 </div>
	</div>
</div>
</div>